<!-- fonts !-->
<link rel="stylesheet" type="text/css" href="/assets/fonts/GoodDog-fontfacekit/stylesheet.css">
<link rel="stylesheet" type="text/css" href="/assets/fonts/Ubuntu-fontfacekit/stylesheet.css">

<!-- site nav !-->


<!-- Alerts !-->

<div class="container alerts">
	<!-- headblock !-->
	<div class="headblock black-gradient">
		<div class="circle" id="red-circle-highlight"></div>
		<div class="circle" id="red-circle-shadow"></div>
		<div class="circle red-gradient">
			<h2>8</h2><!-- insert dynamic code for ALERTS !-->
		</div>
		<img src="/assets/alerts.png" class="headblock-icon" id="headblock-alerts-icon">
			<h1>Alerts</h1>		
		<img src="/assets/headblock-arrow.png" class="headblock-arrow">
	</div>
	<!-- notification viewer !-->
	<div class="viewer">
		<div class="left viewer-scroll light-gray-gradient"></div>
		<div class="right viewer-scroll light-gray-gradient"></div>
		<div class="alerts-box red-gradient"></div>
		<div class="alerts-box red-gradient"></div>
		<div class="alerts-box red-gradient"></div>
		<div class="alerts-box red-gradient"></div>
		<div class="alerts-box red-gradient"></div>
	</div>
</div>


<!-- Pending Trades !-->

<div class="container black-gradient headblock">
	<div class="circle" id="blue-circle-highlight"></div>
	<div class="circle" id="blue-circle-shadow"></div>
	<div class="circle blue-gradient">
		<h2>3</h2> <!-- insert dynamic code for PENDING TRADES !-->
	</div>
	<img src="/assets/pending-trade.png" class="headblock-icon" id="headblock-pt-icon">
		<h1>Pending Trades</h1>
	<img src="/assets/headblock-arrow.png" class="headblock-arrow">
</div>

<div class="container"><!-- pending trades !--></div>


<!-- Suggested Trades !-->

<div class="container black-gradient headblock">
	<div class="circle" id="green-circle-highlight"></div>
	<div class="circle" id="green-circle-shadow"></div>
	<div class="circle green-gradient">
		<h2 class="circle-text">15</h2> <!-- insert dynamic code for SUGGESTED TRADES !-->
	</div>
	<img src="/assets/suggested-trades.png" class="headblock-icon" id="headblock-st-icon">
	<div class="h1"><h1>Suggested Trades</h1></div>
	<img src="/assets/headblock-arrow.png" class="headblock-arrow">
</div>

<div class="container"><!-- suggested trades !--></div>
