<!-- site nav !-->


<!-- Alerts !-->

<div class="container alerts">
	<!-- header !-->
	<div class="container black-gradient header">
		<div class="circle" id="red-circle-highlight"></div>
		<div class="circle" id="red-circle-shadow"></div>
		<div class="circle red-gradient">
			<h2 class="circle-text">8</h2><!-- input dynamic code for ALERTS !-->
		</div>
		<img src="/assets/alerts.png" class="header-icon" id="header-alerts-icon">
		<div class="h1">
			<h1>Alerts</h1>
		</div>
		<img src="/assets/header-arrow.png" class="header-arrow">
	</div>
	<!-- notification viewer !-->
	<div class="viewer">
		<div class="left viewer-scroll light-gray-gradient"></div>
		<div class="right viewer-scroll light-gray-gradient"></div>
	</div>
</div>

<div class="container"><!-- alerts box !--></div>


<!-- Pending Trades !-->

<div class="container black-gradient header">
	<div class="circle" id="blue-circle-highlight"></div>
	<div class="circle" id="blue-circle-shadow"></div>
	<div class="circle blue-gradient">
		<h2 class="circle-text">3</h2> <!-- input dynamic code for PENDING TRADES !-->
	</div>
	<img src="/assets/pending-trade.png" class="header-icon" id="header-pt-icon">
	<div class="h1">
		<h1>Pending Trades</h1>
	</div>
	<img src="/assets/header-arrow.png" class="header-arrow">
</div>

<div class="container"><!-- pending trades !--></div>


<!-- Suggested Trades !-->

<div class="container black-gradient header">
	<div class="circle" id="green-circle-highlight"></div>
	<div class="circle" id="green-circle-shadow"></div>
	<div class="circle green-gradient">
		<h2 class="circle-text">15</h2> <!-- input dynamic code for SUGGESTED TRADES !-->
	</div>
	<img src="/assets/suggested-trades.png" class="header-icon" id="header-st-icon">
	<div class="h1"><h1>Suggested Trades</h1></div>
	<img src="/assets/header-arrow.png" class="header-arrow">
</div>

<div class="container"><!-- suggested trades !--></div>
