/*! ==============
CardCadia CSS v1.0
Created by Danny Forst
2012
================ !*/


@import "bootstrap";


/* mixins, variables, etc. */

$offWhite: #fefefe;


/* text & typography */

h1,
h2,
h3 {
	font-family: "UbuntuMedium", Helvetica, Arial, sans-serif;
	text-transform: uppercase;
	font-weight: normal;
}

h4 {
	font-family: "UbuntuRegular", Helvetica, Arial, sans-serif;
	font-size: .75em;
	text-transform: uppercase;
}

h5,
h6 {
	font-family: "UbuntuItalic", Helvetica, Arial, sans-serif;
	font-size: .75em;
}

p {
	color: #333;
	font-family: "UbuntuRegular", Helvetica, Arial, sans-serif;
	font-size: .875em;
}

h1 {
	color: #fff;
	font-size: 1.875em;
	text-align: left;
	text-shadow: 4 4 4 #333;
}

h2 {
	color: #f6f7f8;
	font-size: 1.5em;
}

h3 {
	color: #f8f8f9;
	font-size: 1.25em;
}

.center {
	text-align: center;
}

.left {
	text-align: left;
}

.right {
	text-align: right;
}

.headblock h1 {
	position: relative;
	left: 110px;
}

.headblock h2 {
	font-family: "GoodDogRegular", sans-serif;
	font-size: 3em;
	position: relative;
	text-align: center;
	text-shadow: -1px -1px 1px rgba(0,0,0,.2), 1px 1px 1px rgba(255,255,255,1);
	top: -9px;
}

.scroll-text {
	bottom: -75px;
	color: rgba(255,255,255,.3);
	font-family: 'UbuntuBold', Helvetica, Arial, sans-serif;
	font-size: .875em;
	position: relative;
	text-align: center;
	text-shadow: 1px 1px 0px rgba(0,0,0,.15);
	text-transform: uppercase;
}

/* containers */

div.headblock {
	box-shadow: 0px 2px 2px rgba(0,0,0,.3);
	height: 60px;
	line-height: 6.25em;
	margin-bottom: 1px;
	max-width: 920px;
	padding: 20px;
	position: relative;
	width: auto;
}

div.alerts {
	height: 260px;
	margin-bottom: 2px;
	max-width: 960px;
	width: auto;
}

div.alerts-box {
	float: left;
	height: 160px;
	margin: 0px 4px 0px 4px;
	position: relative;
	width: 150px;
}

div.viewer {
	height: 160px;
	max-width: 960px;
	overflow: hidden;
	position: absolute;
	width: auto;
}

div.viewer-scroll {
	height: 160px;
	position: relative;
	width: 80px;
}

div.left {
	float: left;
	margin-right: 4px;
}

div.right {
	float: right;
	margin-left: 4px;
}

/* images */

img.headblock-arrow {
	bottom: -12px;
	position: absolute;
	right: 160px;
	z-index: 2;
}

img.headblock-icon {
	left: 80px;
	opacity: .2;
	position: absolute;
	top: 20px;
}

img.scroll-arrow {
	left: 25px;
	position: relative;
	top: 57px;
}

#headblock-alerts-icon {
	top: 13px;
}

#headblock-pt-icon {
	top: 20px;
}

#headblock-st-icon {
	top: 19px;
}

/* shapes */

.circle {
	-moz-border-radius: 25px;
	-webkit-border-radius: 25px;
	border-radius: 25px;
	float: left;
	height: 50px;
	position: absolute;
	top: 24px;
	width: 50px;
}

#red-circle-highlight {
	background-color: rgba(255,200,200,.3);
	top: 25px;
}

#red-circle-shadow {
	background-color: rgba(200,0,0,.5);
	top: 23px;
}

#blue-circle-highlight {
	background-color: rgba(200,200,255,.3);
	top: 25px;
}

#blue-circle-shadow {
	background-color: rgba(0,0,255,.5);
	top: 23px;
}

#green-circle-highlight {
	background-color: rgba(200,255,200,.3);
	top: 25px;
}

#green-circle-shadow {
	background-color: rgba(0,255,0,.5);
	top: 23px;
}

#headblock-arrow {
	border-left: 30px solid transparent;
	border-right: 30px solid transparent;
	border-top: 10px solid rgba(33,33,33,1);
	height: 0; 
	width: 0; 
}

/* pending trades */

.bottom-border {
	border-bottom: 1px solid rgba(30,30,30,.3)
}

div.pending-trade {
	height: auto;
	max-height: 360px;
	max-width: 960px;
	min-height: 180px;
	width: auto;
}

div.trade-user {
	float: left;
	height: auto;
	max-height: 340px;
	min-height: 160px;
	opacity: .8;
	padding: 10px;
	width: 300px;
}

div.new-indicator {
	float: left;
	margin-right: 10px;
}

div.location {
	float: right;
}

div.name {
}

div.name-bg {
}

h2.name {
	font-family: "GoodDogRegular", Helvetica, Arial, sans-serif;
	font-size: 2.625em;
	text-transform: none;
}

h5.new-indicator {
	color: #f6f7f8;
	text-shadow: 2px 2px 2px rgba(0,0,0,.3);
}

h4.location {
	text-shadow: 2px 2px 2px rgba(0,0,0,.3);
	color: #f6f7f8;
	text-align: right;
}

/* gradients */

.yellow-gradient {
	background-color: #e7d378;
	background-image: linear-gradient(rgba(240, 215, 31, 1) 0%, rgba(248, 211, 39, 1) 100%);
	background-image: -moz-linear-gradient(rgba(240, 215, 31, 1) 0%, rgba(248, 211, 39, 1) 100%);
	background-image: -webkit-linear-gradient(rgba(240, 215, 31, 1) 0%, rgba(248, 211, 39, 1) 100%);
	background-image: -o-linear-gradient(rgba(240, 215, 31, 1) 0%, rgba(248, 211, 39, 1) 100%);
	background-image: -ms-linear-gradient(rgba(240, 215, 31, 1) 0%, rgba(248, 211, 39, 1) 100%);
}

.light-gray-gradient {
	background-color: #5485b6;
	background-image: linear-gradient(rgba(238, 238, 238, 1) 0%, rgba(224, 224, 224, 1) 100%);
	background-image: -moz-linear-gradient(rgba(238, 238, 238, 1) 0%, rgba(224, 224, 224, 1) 100%);
	background-image: -webkit-linear-gradient(rgba(238, 238, 238, 1) 0%, rgba(224, 224, 224, 1) 100%);
	background-image: -o-linear-gradient(rgba(238, 238, 238, 1) 0%, rgba(224, 224, 224, 1) 100%);
	background-image: -ms-linear-gradient(rgba(238, 238, 238, 1) 0%, rgba(224, 224, 224, 1) 100%);
}

.blue-gradient {
	background-color: #5485b6;
	background-image: linear-gradient(rgba(84, 133, 185, 1) 0%, rgba(59, 106, 163, 1) 100%);
	background-image: -moz-linear-gradient(rgba(84, 133, 185, 1) 0%, rgba(59, 106, 163, 1) 100%);
	background-image: -webkit-linear-gradient(rgba(84, 133, 185, 1) 0%, rgba(59, 106, 163, 1) 100%);
	background-image: -o-linear-gradient(rgba(84, 133, 185, 1) 0%, rgba(59, 106, 163, 1) 100%);
	background-image: -ms-linear-gradient(rgba(84, 133, 185, 1) 0%, rgba(59, 106, 163, 1) 100%);
}

.red-gradient {
	background-color: #db4d4a;
	background-image: linear-gradient(rgba(219, 77, 74, 1) 0%, rgba(190, 42, 47, 1) 100%);
	background-image: -moz-linear-gradient(rgba(219, 77, 74, 1) 0%, rgba(190, 42, 47, 1) 100%);
	background-image: -webkit-linear-gradient(rgba(219, 77, 74, 1) 0%, rgba(190, 42, 47, 1) 100%);
	background-image: -o-linear-gradient(rgba(219, 77, 74, 1) 0%, rgba(190, 42, 47, 1) 100%);
	background-image: -ms-linear-gradient(rgba(219, 77, 74, 1) 0%, rgba(190, 42, 47, 1) 100%);
}

.black-gradient {
	background-color: #060707;
	background-image: linear-gradient(rgba(73, 78, 83, 1) 0%, rgba(34, 36, 38, 1) 100%);
	background-image: -moz-linear-gradient(rgba(73, 78, 83, 1) 0%, rgba(34, 36, 38, 1) 100%);
	background-image: -webkit-linear-gradient(rgba(73, 78, 83, 1) 0%, rgba(34, 36, 38, 1) 100%);
	background-image: -o-linear-gradient(rgba(73, 78, 83, 1) 0%, rgba(34, 36, 38, 1) 100%);
	background-image: -ms-linear-gradient(rgba(73, 78, 83, 1) 0%, rgba(34, 36, 38, 1) 100%);
}

.green-gradient {
	background-color: #5fa65d;
	background-image: linear-gradient(rgba(71, 154, 66, 1) 0%, rgba(52, 127, 44, 1) 100%);
	background-image: -moz-linear-gradient(rgba(71, 154, 66, 1) 0%, rgba(52, 127, 44, 1) 100%);
	background-image: -webkit-linear-gradient(rgba(71, 154, 66, 1) 0%, rgba(52, 127, 44, 1) 100%);
	background-image: -o-linear-gradient(rgba(71, 154, 66, 1) 0%, rgba(52, 127, 44, 1) 100%);
	background-image: -ms-linear-gradient(rgba(71, 154, 66, 1) 0%, rgba(52, 127, 44, 1) 100%);
}

/* effects */

.letterpress {
	text-shadow: 1px 1px 1px #ffffff;
	text-shadow: -1px -1px 1px #333;
}