.headblock h1 {
	position: relative;
	left: 110px;
}

.headblock h2 {
	font-family: "GoodDogRegular", sans-serif;
	font-size: 3em;
	position: relative;
	text-align: center;
	text-shadow: -1px -1px 1px rgba(0,0,0,.2), 1px 1px 1px rgba(255,255,255,1);
	top: -9px;
}

.scroll-text {
	bottom: -75px;
	color: rgba(255,255,255,.3);
	font-family: 'UbuntuBold', Helvetica, Arial, sans-serif;
	font-size: .875em;
	position: relative;
	text-align: center;
	text-shadow: 1px 1px 0px rgba(0,0,0,.15);
	text-transform: uppercase;
}

h2.name {
	font-family: "GoodDogRegular", Helvetica, Arial, sans-serif;
	font-size: 2.625em;
	position: relative;
	text-transform: none;
	top: -70px;
}

h4.location, h5.status {
	color: #f6f7f8;
	position: relative;
	text-shadow: 2px 2px 2px rgba(0,0,0,.3);
	top: -9px;
}